
.jumbotron{
	/*padding: 1%;*/
	background-color: #5cb85c;
	color: #ffffff;
}

#movies{
	padding: 3%;
	float: left;
}

div{
	margin-bottom: 2%;
}
button {
    background-color: #5cb85c;
	color: #ffffff;
}
.alls{
	float: left;
}